#tawnyfrogmouthcamo{
	margin-left:1vw;
}
#tawnyfrogmouthangry{
	margin-left:50vw;
}
#text1{
	margin-left:1vw;
	color: white;
}
#text2{
	margin-left:90vw;
	color: white;
}
#sarchasticfringehead{
	margin-left:1vw;
}
#text3{
	margin-left:1vw;
	color: white;
}
#text4{
	margin-left:80vw;
	color: white;
}
#sarchasticfringeheadangry{
	margin-left:50vw;
}
#text5{
	text-align: center;
	color: white;
}
#avacado{
	margin-left: 35vw;
} 
body{
	background-color: midnightblue;
}
#title{
	color: midnightblue;
	text-align: center;
	font-size: 5em;
	background:white;
	margin-top:0vw;
}