#tawnyfrogmouthcamo{
	margin-left:1vw;
}
#tawnyfrogmouthangry{
	margin-left:50vw;
}
#text1{
	margin-left:1vw;
}
#text2{
	margin-left:90vw;
}
#sarchasticfringehead{
	margin-left:1vw;
}
#text3{
	margin-left:1vw;
}
#text4{
	margin-left:80vw;
}
#sarchasticfringeheadangry{
	margin-left:50vw;
}